input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}



.container2{
    width: 50%;
    justify-items: center;
    background-color: rgb(72, 71, 71);
    margin-left: 30%;
    margin-top: 20px;
    padding: 50px;
}
.container{
    background-color: aquamarine;
}

.container h4{
    text-align: center;
    color: white;
}